.idea
.vscode
.git
build*
**/*.log
doc/_build
.DS_Store
Dockerfile*
.gitignore
.dockerignore
**/*.root
!data/*.root
data/**/*.MD
data/**/*.jpeg

### CMake ###
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps