# RAT configuration files
build*
install*
src/core/include/RAT/Config.hh
*.pyc
.sconsign
.sconsign.dblite
.sconf_temp
lib
bin
config.log
src/core/config.hh
# Eclipse aux files
.cproject
.project
.pydevproject
.settings
src/core/Config.hh

*.log
*.root
!test/full/*/standard.root
*.heprep
.DS_Store
*.gif
*.jpg
*.jpeg
*.eps

.idea/
.vscode/
.cache/
compile_commands.json
doc/_build/
doc/doxygen
.pytest_cache*
ratpac.*sh
RatpacConfig.cmake

# rattest outputs 
test/full/*/*.png 
test/full/*/*.html
